@model Identity.Models.LoginViewModel
@using Identity.Helpers

@{
    ViewData[PagesViewDataConstants.TitleViewData] = "Login";
    ViewData[PagesViewDataConstants.HomepageUrlViewData] = Model.ClientUrl;
}

<section class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 128px);">
        <div class="card col-10 col-md-8 col-lg-6 col-xl-5 p-5 my-5 custom-shadow">
            <h2 class="text-center mb-4 text-secondary">@ViewData["Title"]</h2>
            <div class="d-flex justify-content-center py-2">
                <div class="col-12">
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input asp-for="Username" class="form-control" placeholder="Username" maxlength="30" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input asp-for="Password" class="form-control" placeholder="Password" maxlength="30" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="row justify-content-center pt-3">
                            <div class="mb-3 col-12">
                                <button type="submit" class="btn btn-primary col-12">Log in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}