@{
    ViewData["Title"] = "About";
}

<div class="text-center mt-5">
    <p style="font-size:22px">If you can access this page, that means you are authenticated</p>
    <p style="font-size:22px">If you want to logout, click below</p>
    <a class="btn btn-outline-danger" asp-controller="Account" asp-action="Logout">Logout</a>
</div>
